.subscription__title {
  color: var(--color-white);
  display: flex;
  justify-content: left;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subscription {
  max-width: 206px;
  height: 80px;
  margin-top: 12px;
}
.subscription__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius  : 50%;
  background-color: rgba(255, 255, 255, 0.1);  
  transition: background-color 250ms var(--timing-function);
}
.subscription__list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.subscription__icon {
  fill: var(--color-white);
}
.subscription__link:hover,
.subscription__link:focus {
  background-color: var(--color-accent);
}
.foorer-button {
  width: 200px;
  height: 50px;
  background-color: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  text-align: center;
  border: 0;
  padding: 0 28px;
  word-spacing: 10px;
}
.subscrib-form__title {
  color: var(--color-white);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__input{
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  margin-right: 12px;
  padding-left: 16px;
  color: var(--color-white);
  font-weight: 400;
  font-size: 16px;
  outline: none;
}
.subscrib__form {
  margin-top: 12px;
}