.our-team {
  background-color: #F5F4FA;
}
.our-team__container {
  display: flex;
  gap: 30px;
  text-align: center;
}
.our-team__card {
  background-color: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}
.our-team__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;    
}
.our-team h3 {
  font-size: 16px;
  font-weight: 500;
  padding-top: 30px;
  margin-bottom: 10px;
  line-height: 1.19;
}
.our-team__card p {
  line-height: 1.19;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
}